<?xml version='1.0'?>
<settings>
	<api>
		<name>constructor</name>
		<description>T-shirts flash-based constructor</description>
		<protocols>
			<item access='all'>
				<environment>
					<item value='GET'/>
					<item value='POST'/>
				</environment>
				<identifier>13</identifier>
				<params>
					<item name='t' type='string' important='0'/>
					<item name='n' type='numeric' important='0'/>
					<item name='c' type='numeric' important='0'/>
				</params>
			</item>
			<item access='all'>
				<environment>
					<item value='GET'/>
					<item value='POST'/>
				</environment>
				<identifier>14</identifier>
				<params>
					<item name='c' type='numeric' important='0'/>
					<item name='n' type='numeric' important='0'/>
				</params>
			</item>
			<item access='all'>
				<environment>
					<item value='GET'/>
					<item value='POST'/>
				</environment>
				<identifier>15</identifier>
				<params></params>
			</item>
			<item access='all'>
				<environment>
					<item value='GET'/>
					<item value='POST'/>
				</environment>
				<identifier>16</identifier>
				<params>
					<item name='id' type='numeric' important='1'/>
				</params>
			</item>
			<item access='server'>
				<environment>
					<item value='POST'/>
				</environment>
				<identifier>17</identifier>
				<params>
					<item name='data' type='binary' important='0'/>
					<item name='email' type='string' important='1'/>
				</params>
			</item>
			<item access='server'>
				<environment>
					<item value='GET'/>
					<item value='POST'/>
				</environment>
				<identifier>18</identifier>
				<params>
					<item name='fti' type='numeric' important='1'/>
					<item name='lti' type='numeric' important='1'/>
					<item name='coords' type='string' important='1'/>
					<item name='email' type='string' important='1'/>
					<item name='comment' type='string' important='0'/>
				</params>
			</item>
			<item access='all'>
				<environment>
					<item value='POST'/>
				</environment>
				<identifier>19</identifier>
				<params>
					<item name='login' type='string' important='1'/>
					<item name='passwd' type='string' important='1'/>
				</params>
			</item>
			<item access='all'>
				<environment>
					<item value='GET'/>
					<item value='POST'/>
				</environment>
				<identifier>20</identifier>
				<params>
					<item name='id' type='numeric' important='1'/>
				</params>
			</item>
			<item access='all'>
				<environment>
					<item value='GET'/>
					<item value='POST'/>
				</environment>
				<identifier>21</identifier>
				<params>
					<item name='id' type='numeric' important='1'/>
				</params>
			</item>
		</protocols>
	</api>
	<authority>
		<company>InnoWeb Studio</company>
		<author>Kirill Karpenko</author>
		<version>1.0</version>
		<pubdate>2008-02-25 08:00</pubdate>
		<license>InnoWeb EULA</license>
		<license_url>http://innoweb.org.ua/licences/eula.pdf</license_url>
		<readme_url>http://innoweb.org.ua/documentation/futbolka_constructor.pdf</readme_url>
		<reply_to>LoRd1990@gmail.com</reply_to>
		<auth>
			<innoweb_reg_code>0232DFS::231</innoweb_reg_code>
			<md5_hash_code>2121ddfaca3232cb2421dcfaca3232cb</md5_hash_code>
			<openpgp_sign></openpgp_sign>
		</auth>
		<comment>None</comment>
	</authority>
</settings>