RewriteEngine on
RewriteBase /
RewriteRule ^([a-zA-Z0-9_\/]*)$  /index.php?q=$1
<FilesMatch "^(.*\.(frm|inc|tpl)+)$">
 ForceType application/x-httpd-php
</FilesMatch>
	
ErrorDocument 404 /error404.html